body {
	background: linear-gradient(to right, red ,yellow);
	text-align: center;
}
h1 {
	text-align: center;
	letter-spacing: 0.5em;
	width: 100%;

}

h2 {
	text-align: center;
	letter-spacing: 0.5em;
	width: 100%;
}
.color1{
	text-align: center;
}
.color2{
	text-align: center;
}